<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ServicioWCFLogicaClientes.ClientesClass"
					 behaviorConfiguration="openWSDL">
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="ServicioWCFLogicaClientes.IClientesContract"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="openWSDL">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>