<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/79f52c85-e946-4399-8d73-32af6f1520a5/resourceGroups/rg-martes/providers/Microsoft.Web/sites/ApiCoreCrudDoctoresAGCMartes</ResourceId>
    <ResourceGroup>rg-martes</ResourceGroup>
    <ApiResourceId>/subscriptions/79f52c85-e946-4399-8d73-32af6f1520a5/resourceGroups/rg-martes/providers/Microsoft.ApiManagement/service/apimanagementalvaro/apis/doctores</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apicorecruddoctoresagcmartes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>15a12f07-5cc7-4b06-8b1a-21e505258a48</ProjectGuid>
    <MSDeployServiceURL>apicorecruddoctoresagcmartes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiCoreCrudDoctoresAGCMartes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ApiCoreCrudDoctoresAGCMartes</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>